@model AddAnswerModel
<h1 class="text-center mt-2">Answer</h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-75" method="post">
    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label asp-for="Description">Description</label>

        </div>
        <textarea input asp-for="Description" rows="4" type="text" class="form-control" id="description-input"></textarea>
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Add Answer</button>
    </div>
</form>

