@page
@model LogoutModel
@{
    ViewData["Title"] = "Click here to Logout";
}
<hr class="bg-primary w-50">
<hr class="bg-primary w-75">
<hr class="bg-primary w-50">
<h1 class="text-center mt-2 text-white">▪</h1>
@{if (User.Identity.IsAuthenticated)
    {

    <form class="form-inline mx-auto w-75" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
       
        <div class="card">

            <div class="card-body">                
                <button type="submit" class="nav-link btn btn-link  btn-primary float-right text-white small w-25">@ViewBag.Title</button>
                <img src="https://i0.wp.com/godofindia.com/wp-content/uploads/2017/08/romantic-hd-wallpapers.jpg" class="card-img-top" alt="...">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
    </form>
        <meta http-equiv="refresh" content="100;url=https://localhost:44350/?page=%2F" />
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
    }
}
















