@model LoginUserFormModel
@{ ViewBag.Title = "Login"; }
<h1 class="text-center mt-2 text-secondary">▪</h1>
<h1 class="text-center mt-2">@ViewBag.Title</h1>
<hr class="bg-secondary w-75">
<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label asp-for="Username" class="h3 mb-2">Username</label>
        </div>
        <input type="text" class="form-control" id="username" asp-for="Username" />
    </div>
    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label asp-for="Password" class="h3 mb-2">Password</label>
        </div>
        <input type="password" class="form-control" id="password" asp-for="Password" />
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-secondary text-white mb-3">Login</button>
    </div>
</form>