@model AddAnswerModel
<hr class="bg-primary w-75">
<hr class="bg-primary w-50">
<h2 class="text-center mt-2">Answer</h2>
<h1 class="text-center mt-2 text-white">▪</h1>
<form class="mx-auto w-75" method="post">
    <div class="form-group">
        <img src="https://sfs.jobs/sfs-group/sfs-group-dna_basicteaserimagehighlightmobile.jpg"
             class="img-fluid  d-block w-100 "
             alt="Responsive image" />
        <div class="label-holder text-white d-flex justify-content-center">
            <label asp-for="Description">Description</label>

        </div>
        <textarea input asp-for="Description" rows="4" type="text" class="form-control" id="description-input"></textarea>
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Add Answer</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

