@model SendMailMessageModel
    @using System.Threading
    <hr class="bg-primary w-75">
    <hr class="bg-primary w-50">
    <h2 class="text-center mt-2">Send Mail</h2>

    <div class="form-group ">
        <h1 class="text-center mt-2 text-white">
            ▪
        </h1>
    </div>

    <form class="mx-auto w-75" method="post">

        <div class="form-group w-50">
            <h class="text-center mt-2">To:</h>           
            <h class="text-primary">@Model.To</h>
           
        </div>
        <div class="form-group w-25">
            <label asp-for="Subject">Subject</label>
            <input asp-for="Subject" type="text" class="form-control" id="subject-input">
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <div class="label-holder text-white d-flex justify-content-center">
                <label asp-for="Body">Body</label>
            </div>
            <textarea asp-for="Body" type="text" class="form-control" id="body-input"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
       
        <h class="text-success">@ViewBag.message</h>
        <div class="form-group">
            <input type="submit" value="Send Email" class="btn btn-block btn-primary text-white mb-3 small" />

        </div>
        @if (ViewBag.message != null)
        {
            <META HTTP-EQUIV="Refresh" CONTENT="18;URL=@(Url.Action("All", "LrUsers"))">
        }
        <div class="form-group justify-content-center">
            <a asp-controller="LrUsers" asp-action="All">[ Back to List ]</a>
        </div>


    </form>



