@using Microsoft.AspNetCore.Identity
@using DnaFragment.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {       
        <li class="nav-item ml-auto">
            <a id="logout" class="nav-link text-white active h5" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Logout</a>
        </li>
        @if (User.IsAdmin())
        {
            <li class="nav-item ml-auto">
                <h3 scope="col" class="text-danger">•</h3>
            </li>
        }
        else
        {
            <li class="nav-item ml-auto">
                <a id="manage" class="nav-link text-white active h5" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item ml-auto">
            <a class="nav-link text-white active h5" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link text-white active h5" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
