@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sistem Error...</h1>
<h2 class="text-danger">An error occurred while processing your request.Please contact the website support!</h2>


